.reminder {
  color: #fff;
  position: relative;
  font-size: 12px;
  padding: 3px ;
  margin-bottom: 3px;
}
  .tools {
    visibility: visible;
  }
  .month-header {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .weekdays {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  background: #111;
  border-bottom: 2px solid #000;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 0;
  }
  .weekdays strong {
    flex: 1 0 14%;
    max-width: calc(100% / 7);
    text-align: center;
  }
  .month .days {
    background: rgba(238, 235, 235, 0.2);
    display: flex;
    flex-wrap: wrap;
    margin-top: -3px;
  }
  
  .btn-new-reminder {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 1;
  }
  .day {
    position: relative;
    flex: 1 0 14%;
    max-width: calc(100% / 7);
    min-height: 130px;
    padding: 10px;
    box-shadow: inset 0 1px 1px #000;
  }
  .btn-submit,
  .btn-cancel {
    font-family: inherit;
    font-size: 13px;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    color: rgb(10, 10, 10);
  }

  .btn-cancel {
    margin-left: 5px;
  }